<!doctype html><html lang="en"><head>
<meta name="google-site-verification" content="_825SWbljPy7qlHXKPTQZUyjkWvz9-60Y-BjQ_GXSbI">
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}MenbrainAI{{ else }}{{ .Title }} | MenbrainAI{{ end }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Rubik+Glitch&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">
</head><body>
<main class="overlay"><div class="content">
{{ block "main" . }}{{ end }}
</div></main>
<script src="/js/main.js" defer></script>
</body></html>
